name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Verify
    uses: maveniverse/parent/.github/workflows/ci.yml@5b0293ee9dfa1c118f2366f5f5c69438720bfe29
    with:
      maven-test-run: false
      needs-ipfs: true
      needs-ipfs-daemon: true

